@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

input {
  position: relative;
  outline: none;
  padding: 12px 12px;
  font-size: 18px;
  border: 2px solid hsl(270, 3%, 87%);
  border-radius: 10px;
}

input:focus {
  border: 2px solid hsl(278, 94%, 30%);
}

button {
  cursor: pointer;
  padding: 15px 200px;
  font-size: 18px;
  color: hsl(270, 3%, 87%);
  background-color: hsl(278, 68%, 11%);
  border: 0;
  border-radius: 10px;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
main .left-container, main .right-container {
  height: 100%;
}
main .left-container {
  position: relative;
  width: 40%;
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .left-container .card-front {
  position: absolute;
  top: 20%;
  left: 40%;
  background-image: url(/images/bg-card-front.png);
  width: 450px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
main .left-container .card-front .card-stuff {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
main .left-container .card-front .card-stuff img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
main .left-container .card-front .card-stuff .credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 95%;
  height: 40%;
  align-self: center;
  margin-bottom: 10px;
}
main .left-container .card-front .card-stuff .credentials .cardNumber {
  font-size: 24px;
  text-align: center;
  letter-spacing: 5px;
}
main .left-container .card-front .card-stuff .credentials div {
  display: flex;
  justify-content: space-between;
}
main .card-back {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 450px;
  height: 250px;
}
main .card-back .back {
  width: 100%;
  height: 100%;
}
main .card-back .cvv {
  position: absolute;
  top: 42%;
  right: 25%;
  color: white;
  font-size: 24px;
}

.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}
.right-container form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: hsl(278, 68%, 11%);
}
.right-container form .details {
  display: flex;
  gap: 15px;
}
.right-container form .details label input {
  width: 100%;
}
.right-container form .details label .flex-input {
  display: flex;
  gap: 15px;
}
.right-container form .details label .flex-input input {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
}
.right-container .completion {
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.right-container .completion h2 {
  font-size: 45px;
  color: hsl(278, 68%, 11%);
  font-weight: 500;
}
.right-container .completion p {
  color: hsl(279, 6%, 55%);
  font-size: 18px;
}

@media screen and (max-width: 1415px) {
  main {
    flex-direction: column;
  }
  main .left-container {
    width: 100%;
  }
  main .left-container .card-front {
    left: 10%;
    width: 35s0px;
    height: 250px;
  }
  main .left-container .card-back {
    top: 5%;
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  main .left-container {
    height: 30%;
  }
  main .left-container .card-front {
    top: 40%;
    left: 2%;
    width: 400px;
    height: 200px;
    z-index: 999;
  }
  main .left-container .card-back {
    left: 40%;
    width: 400px;
    height: 200px;
    z-index: 0;
  }
  main .left-container .card-back .cvv {
    top: 50%;
  }
}
@media screen and (max-width: 510px) {
  main .left-container {
    height: 30%;
  }
  main .left-container .card-front {
    top: 40%;
    left: 2%;
    width: 350px;
    height: 180px;
    z-index: 999;
  }
  main .left-container .card-front .card-stuff .credentials .cardNumber {
    font-size: 15px;
  }
  main .left-container .card-back {
    left: 30%;
    top: 0;
    z-index: 0;
  }
  main .left-container .card-back .cvv {
    top: 42%;
  }
}
@media screen and (max-width: 435px) {
  main .left-container {
    height: 30%;
  }
  main .left-container .card-back {
    left: 25%;
    top: 0;
    border: 2px solid wheat;
    z-index: 0;
  }
  main .left-container .card-back .cvv {
    top: 42%;
  }
}/*# sourceMappingURL=styles.css.map */