@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$primary: hsl(270, 3%, 87%);
$secondary: hsl(279, 6%, 55%);
$tertiary: hsl(278, 68%, 11%);
$input-border-active: hsl(278, 94%, 30%);
$input-border-error: hsl(0, 100%, 66%);

// reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

input {
    position: relative;
    outline: none;
    padding: 12px 12px;
    font-size: 18px;
    border: 2px solid $primary;
    border-radius: 10px;
}

input:focus {
    border: 2px solid $input-border-active;
}

button {
    cursor: pointer;
    padding: 15px 200px;
    font-size: 18px;
    color: $primary;
    background-color: $tertiary;
    border: 0;
    border-radius: 10px;
}

//end of reset


main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .left-container, .right-container {
        height: 100%;
    }
    .left-container {
        position: relative;
        width: 40%;
        background-image: url(/assets/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        .card-front {
            position: absolute;
            top: 20%;
            left: 40%;
            background-image: url(/assets/bg-card-front.png);
            width: 450px;
            height: 250px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 12px;
            .card-stuff {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                img {
                    width: 100px;
                    height: auto;
                    margin-left: 20px;
                    margin-top: 20px;
                }
                .credentials {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: white;
                    width: 95%;
                    height: 40%;
                    align-self: center;
                    margin-bottom: 10px;
                    .cardNumber {
                        font-size: 24px;
                        text-align: center;
                        letter-spacing: 5px;
                    }
                    div {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            }
        }
        .card-back {
            position: absolute;
            top: 55%;
            left: 50%;
            width: 450px;
            height: 250px;
            .back {
                width: 100%;
                height: 100%;
            }
            .cvv {
                position: absolute;
                top: 42%;
                right: 25%;
                color: white;
                font-size: 24px;
            }
        }
    }
    .right-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 500px;
            label {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 18px;
                color: $tertiary;
            }
            .details {
                display: flex;
                gap: 15px;
                label {
                        input {
                        width: 100%;
                    }
                    .flex-input {
                        display: flex;
                        gap: 15px;
                        input {
                            width: 100%;
                            max-width: 200px;
                            min-width: 200px;
                        }
                    }
                }
            }
        }
        .completion {
            display: none;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            h2 {
                font-size: 45px;
                color: $tertiary;
                font-weight: 500;
            }
            p {
                color: $secondary;
                font-size: 18px;
            }
        }
    }


@media screen and (max-width: 1415px) {
    main {
        flex-direction: column;
        .left-container {
            width: 100%;
            .card-front{
                left: 10%;
                width: 35s0px;
                height: 250px;
            }
            .card-back {
                top: 5%;
                width: 350px;
                height: 250px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    main {
        .left-container {
            height: 30%;
            .card-front {
                top: 40%;
                left: 2%;
                width: 400px;
                height: 200px;
                z-index: 999;
            }
            .card-back {
                left: 40%;
                width: 400px;
                height: 200px;
                z-index: 0;
                .cvv {
                    top: 50%;
                }
            }
        }
    }
    
}

@media screen and (max-width: 510px) {
    main {
        .left-container {
            height: 30%;
            .card-front {
                top: 40%;
                left: 2%;
                width: 350px;
                height: 180px;
                z-index: 999;
                .card-stuff {
                    .credentials {
                        .cardNumber {
                            font-size: 15px;
                        }
                    }
                }
            }
            .card-back {
                left: 30%;
                top: 0;
                z-index: 0;
                .cvv {
                    top: 42%;
                }
            }
        }
    }
}

@media screen and (max-width: 435px) {
    main {
        .left-container {
            height: 30%;
            .card-back {
                left: 25%;
                top: 0;
                border: 2px solid wheat;
                z-index: 0;
                .cvv {
                    top: 42%;
                }
            }
        }
    }
}